.kitchen-skill-detail-page {
  .kitchen-skill-detail-content {
    img {
      max-width: 100%;
      border-radius: 8px;
    }
  }
  .kitchen-skill-detail-anchor {
    @media (max-width: 768px) {
      display: none;
    }
  }
  .ant-anchor-link-title {
    font-size: 13px;
  }
}
