.process-steps {
  width: 100%;
  margin-top: -10px;
  margin-bottom: 20px;
  text-align: left;

  :global(.ant-progress) {
    width: 100%;
  }

  :global(.ant-progress .ant-progress-steps-item) {
    width: calc(20% - 2px) !important;
  }

  /* 当屏幕大于 sm 时，将宽度设置为 70% */
  @media (min-width: 576px) {
    margin-left: 17%;
    width: 66.6%;
  }
}
